<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"
				providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- The path to your Backup folder for sql server, change to your path -->
    <add key ="LocalDownloadFilePath" value ="C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\Backup\"/>
    <!-- Name of Ftp database backup on ftp, seperated by , or ; (without extension) -->
    <add key="DatabaseNames" value="backup01, backup02"/>
    <add key="FtpAddress" value="ftp://127.0.0.1/"/>
    <!-- Your Ftp -->
    <add key="FtpUserName" value=""/>
    <!-- Your Ftp UserName -->
    <add key="FtpPassword" value=""/>
    <!-- Your Ftp Password -->
  </appSettings>
</configuration>